@import "tailwindcss";
@import "primeicons/primeicons.css";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

@theme {
  --font-poppins: "Poppins", "sans-serif";

  --color-primary-50: #f0f6fc;
  --color-primary-100: #d9e8f9;
  --color-primary-200: #b3d1f2;
  --color-primary-300: #80afe6;
  --color-primary-400: #00509d;
  --color-primary-500: #00478c;
  --color-primary-600: #003e7a;
  --color-primary-700: #003568;
  --color-primary-800: #002b55;
  --color-primary-900: #001a36;
  --color-primary-950: #000d1b;
}

@layer {
  html {
    @apply scrollbar scrollbar-thumb-primary-400 scrollbar-track-primary-100 scrollbar-w-1 scroll-smooth;
  }
  body {
    @apply min-h-screen bg-gray-50;
    * {
      @apply font-poppins scrollbar scrollbar-thumb-primary-400 scrollbar-track-primary-100 scrollbar-w-1;
    }
  }

  .p-message-info {
    @apply text-primary-400!;
  }
}

@utility container {
  @apply mx-auto w-[calc(100%-2rem)] max-w-325;
}
@utility container-spacing {
  @apply mb-16 lg:mb-24;
}

@utility nav-link {
  @apply hover:text-primary-500 text-4xl font-medium lg:text-base;

  &.router-link-active {
    @apply text-primary-400 font-semibold;
  }
}

@utility footer-link {
  @apply text-gray-800;
}

@utility card-base {
  @apply rounded-lg bg-white p-6;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .carousel-pagination {
    .p-carousel-indicator-list {
      @apply !py-2;
      .p-carousel-indicator-button {
        @apply !size-2 !transition-all duration-300;
      }

      .p-carousel-indicator-active {
        .p-carousel-indicator-button {
          @apply !w-5;
        }
      }
    }
  }
}
